body {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}


h1 {
	color: purple;
}

.text-main {
	font-size: 12px;
	color: #242424;
} 

.profile {
	width: 100%;
	height: 350px;
	background-color: #009999;
} 

.resume {
	width: 100%;
	height: 350px;
	background-color: #1D7373;
}

.features {
	width: 100%;
	height: 220px;
	background-color: #5CCCCC;
}

.partner {
	width: 100%;
	height: 350px;
	background-color: #FF9640;
}