body {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}


h1 {
	color: purple;
}

.text-main {
	font-size: 12px;
	color: #242424;
} 

.catalog {
	width: 100%;
}	

.card {
	width: 30%;
	height: 50px;
	background-color: #486db1;
}
